.container {
  display: flex;
  flex-direction: column;

  margin: 1rem auto;
  min-height: 100vh;
  padding: 1rem;
  font-size: 1.25rem;
  max-width: 1000px;
  
  /*border-style: dotted;*/

  /* flex: 1; */
  /* justify-content: flex-start; */
  /* align-items: center; */
}