.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;


  padding: 5px;
  background: #000;
  color: #fff;  
  flex-wrap: wrap;
}

.nav_container > * {
  margin: 0;
  /*border: 1px solid #eaeaea;*/
  height: 55px;
}

.logo {
  line-height: 1.15;
  font-size: 3rem;
  color: red;

}

.logo span {
  color: #0070f3;
}

.nav {
  background: #000;
  color: #fff;
  text-align: right;
}

.nav ul {
  display: flex;
  list-style: none;
  /*border: 1px solid #eaeaea;*/
}

.nav ul li a {
  margin: 5px 15px;
}


@media (max-width: 460px) {

}
